#ContentAuth{

   .exp-header{
      h1.auth-index-header{
         font-size: 60px;

         ul.t-icon-li{
            margin: 7px 0 0 4px;

            li{
               font-size: 16px;
               color: #69d3b7;
               border: 1px solid #69d3b7;
               border-radius: 100px;
               display: inline-block;
               padding: 4px 9px;
               vertical-align: top;
               margin-right: 7px;
               font-weight: 400;
            }
         }
      }
   }

   .mediaQuery-img-view{
      display: none;
   }

   #lineDesignAuthScope{
      li{
         position: absolute;

         b, span{
            display: inline-block;
            height: 7px;
            background: #000;
            border-radius: 100px;
            margin: 0 3px;
            animation: AnimationOpacityInner 3s;
         }

         b{
            width: 10px;
         }

         span{
            width: 30px;
         }
      }

      @keyframes AnimationOpacityInner{
         0%{
            opacity: 0;
         }
         100%{
            opacity: 1;
         }
      }

      li:nth-child(1){
         top: 6%;
         left: -49px;

         b, span{
            background: #e2f3ff;
         }
      }

      li:nth-child(2){
         top: 40%;
         left: 28%;

         b, span{
            background: #ffe1e1;
         }
      }

      li:nth-child(3){
         top: 10%;
         right: 20%;

         b, span{
            background: #eaffce;
         }
      }
   }

   .exp-sub{
      .auth-button{
         position: relative;
         width: 290px;
         height: 76px;
         background: #ffd200;
         box-shadow: 5px 9px 20px #fff4c8;
         overflow: hidden;
         border-radius: 5px;
         text-align: center;
         line-height: 76px;

         #authorizationCertificateCopy{
            font-size: 22px;
            font-weight: 700;
            z-index: 2;
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.2s;
            width: 100%;

            &:hover{
               background: #ffc31e;
               border: none;
            }

            &:active{
               background: #ffd605;
            }
         }

         .ani-line-desx{
            position: absolute;
            top: 0;
            background: #ffa53b;
            width: 100%;
            height: 100%;
            z-index: 1;
            animation: AnimateionBoxShadowPoint 3s;
            animation-delay: 3s;
            opacity: 0;
         }

         @keyframes AnimateionBoxShadowPoint{
            0%{
               left: -150%;
               opacity: 1;
            }

            100%{
               left: 100%;
               opacity: 0;
            }
         }
      }

      #authorizationCertificateCopy_false{
         span{
            background: #ffd200;
            padding: 11px 27px;
            border-radius: 5px;
            box-shadow: 5px 9px 20px #fff4c8;
            font-size: 19px;

            i{
               font-weight: bold;
               text-decoration: underline;
            }
         }
      }

   }

   @media only screen and (max-width: 1026px){
      .exp-header{
         h1.auth-index-header{
            margin-bottom: 20px;
            font-size: 55px;
         }

         h1{
            ul.t-icon-li{
               margin: 25px 0 0 4px;
            }
         }
      }

      .mediaQuery-img-view{
         display: block;

         img{
            width: 42%;
         }
      }

      .auth-button{
         margin: 0 auto 70px;
      }

      .img-view{
         display: none;
      }
   }

}


#authCopyIframeView{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 9999;
}
