#ContentStep{

   .list-desc{
      position: relative;

      ul{
         li{
            display: inline-block;
            padding-right: 30px;
            width: 33.3%;

            h2{
               font-size: 14px;
               font-weight: 300;
               margin-bottom: 20px;
               display: inline-block;
               background: #f7f7f7;
               border-radius: 100px;
               padding: 4px 9px;
               color: #868686;

            }

            h3{
               font-size: 20px;
               font-weight: 500;
               margin-bottom: 50px;
            }

            img{
               width: 100%;
               border: 1px solid #f4f4f4;
               box-shadow: 1px 0px 23px #eceef1;
            }

            .desc-s{
               display: block;
               font-size: 15px;
               font-weight: 300;
               margin-bottom: 40px;
               line-height: 1.4;
            }
         }

         li:last-child{
            border: none;
         }
      }
   }


   @media only screen and (max-width: 1026px){

      .exp-body{
         position: relative;

         &:after{
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            display: block;
            width: 70px;
            height: 100%;
            background: none;
            background: -moz-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(231, 56, 39, 0)), color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
            background: -webkit-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: -o-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: -ms-linear-gradient(left, rgba(231, 56, 39, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            background: linear-gradient(to right, rgba(231, 56, 39, 0) 0%, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73827', endColorstr='#ffffff', GradientType=1);
         }
      }

      .list-desc{
         padding: 0 20px 40px 74px;
         white-space: nowrap;
         overflow-y: hidden;
         overflow-x: scroll;
         -webkit-overflow-scrolling: touch;

         ul{
            li{
               width: 300px;
            }
         }
      }
   }

}
