<html>
    <link rel="stylesheet" type="text/css" href="/index/index.css" />
 
    <div class="test">
        이것은
        <b>SCSS</b>
    </div>    

    <script src="/index/index.js"></script>
</html>