#headerWrap{
   position: fixed;
   border-bottom: 1px solid #eee;
   top: 0;
   left: 0;
   width: 100%;
   background: #fff;
   z-index: 10;

   .header-body{
      max-width: 1024px;
      height: 65px;
      line-height: 65px;
      margin: 0 auto;
      overflow: hidden;

      .logo{
         display: inline-block;
         height: 65px;

         img{
            width: 150px;
            padding: 15px 0 0;
         }

         /*.auth-pc-logo{
            display: block;
         }*/
      }

      .auth-t{
         float: right;
         color: #9fa5b2;
         font-size: 20px;
      }

      .menu-list{
         float: right;

         li{
            display: inline-block;
            margin-right: 10px;

            a{
               background: #ffd200;
               padding: 0 15px;
               height: 35px;
               line-height: 35px;
               display: block;
               font-size: 13px;
            }
         }

         li:last-child{
            margin: 0;
         }
      }
   }

   @media only screen and (max-width: 1026px){
      padding: 0 75px;

      .header-body{
         width: 100%;

         .auth-pc-logo{
            display: block !important;
         }

         .auth-mobile-img-log{
            display: none !important;
         }
      }
   }

   @media only screen and (max-width: 500px){
      padding: 0 75px;
      .header-body{
         height: auto;
         width: 100%;
         text-align: center;
         line-height: 15px;

         .logo{
            height: auto;

            img{
               margin: 0;
            }
         }

         .auth-t{
            float: none;
            color: #9fa5b2;
            font-size: 14px;
         }

         .auth-pc-logo{
            display: none !important;
         }

         .auth-mobile-img-log{
            display: block !important;
         }
      }
   }

}


#headerWrap.auth-center-page{
   position: initial !important;
   border: none !important;
   img{
      width: 185px !important;
      padding: 11px 0 0 !important;
   }
}
