#CashDocAuthContent{
   .explanation{
      position: relative;

      .exp-col.bg{
         z-index: 2;
         position: relative;
         background: #ffd200;
      }
   }

   .exp-bg-line{
      background: url(
      data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAL0lEQVQYV2NkwAHevn37nxGbHEhCWFiYEUMSJgHShFUnzDTCkshGIbuBEZcESBEAKrcTzlZLzqcAAAAASUVORK5CYII=
      ) repeat;
      background-color: #fafafa;
   }

   .design-line-tree{
      text-align: center;
      margin: 0 0 15px;

      span{
         background: #000000;
         padding: 2px 21px;
         display: inline-block;
         margin: 0 7px;
         border-radius: 10px;
      }

      i{
         font-weight: 100;
         background: #000000;
         padding: 2px 5px;
         display: inline-block;
         border-radius: 10px;
      }
   }

}
